.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.deleteAccountBtn {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #d9534f;
  color: white;
  border-radius: 6px 0px 6px 0px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.deleteAccountBtn:hover {
  background-color: #c9302c;
}