.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.accountInfoWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  border-radius: 10px 0px;
  background: rgb(150, 150, 150);
  color: white;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}